swagger: '2.0'
info:
  title: Octopod API
  version: v1
host: api.galatea.bio
schemes:
- https
basePath: /api/v1
consumes:
- application/json
produces:
- application/json
securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header
security:
- Bearer: []
paths:
  /credit/balance:
    get:
      operationId: credit_balance_list
      description: Get credit balances
      parameters:
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        type: integer
      - name: page_size
        in: query
        description: Number of results to return per page.
        required: false
        type: integer
      - name: orgs_ids
        in: query
        description: Ids of organizations
        required: false
        type: array
        items:
          type: string
      responses:
        '401':
          description: unauthorized
        '403':
          description: forbidden
        '200':
          description: Credit balances list
          schema:
            required:
            - count
            - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      title: Id
                      type: string
                      format: uuid
                      readOnly: true
                    org_id:
                      title: Org id
                      type: string
                      readOnly: true
                    balance:
                      title: Balance
                      type: string
                      readOnly: true
                    created_at:
                      title: Created at
                      type: string
                      format: date-time
                      readOnly: true
                    updated_at:
                      title: Updated at
                      type: string
                      format: date-time
                      readOnly: true
      tags:
      - credit
    parameters: []
  /credit/exchange:
    get:
      operationId: credit_exchange_list
      description: Get credit exchanges
      parameters:
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        type: integer
      - name: page_size
        in: query
        description: Number of results to return per page.
        required: false
        type: integer
      - name: orgs_ids
        in: query
        description: Ids of organizations
        required: false
        type: array
        items:
          type: string
      responses:
        '401':
          description: unauthorized
        '403':
          description: forbidden
        '200':
          description: Credit exchanges list
          schema:
            required:
            - count
            - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  required:
                  - credit_tariff
                  type: object
                  properties:
                    id:
                      title: Id
                      type: string
                      format: uuid
                      readOnly: true
                    credit_tariff:
                      required:
                      - credit_service
                      type: object
                      properties:
                        id:
                          title: Id
                          type: string
                          format: uuid
                          readOnly: true
                        credit_service:
                          required:
                          - type
                          type: object
                          properties:
                            id:
                              title: Id
                              type: string
                              format: uuid
                              readOnly: true
                            name:
                              title: Name
                              type: string
                              readOnly: true
                            type:
                              title: Type
                              type: string
                              enum:
                              - EXECUTE_MODEL_WGS
                              - EXECUTE_MODEL_GNT
                              - REPLENISHMENT
                              - GENERATE_PDF_REPORT_ANCESTRY
                              - GENERATE_PDF_REPORT_PRS_RUO_CARDIO
                              - GENERATE_PDF_REPORT_PRS_RUO_CANCER
                              - GENERATE_PDF_REPORT_PRS_CLINICAL
                              - GENERATE_PDF_REPORT_PRS_CLINICAL_CARDIO
                              - GENERATE_PDF_REPORT_PRS_CLINICAL_CANCER
                            named_model:
                              required:
                              - id
                              - model_name
                              type: object
                              properties:
                                id:
                                  title: Id
                                  type: string
                                  format: uuid
                                model_name:
                                  title: Model name
                                  type: string
                                  minLength: 1
                              x-nullable: true
                            created_at:
                              title: Created at
                              type: string
                              format: date-time
                              readOnly: true
                        org_id:
                          title: Org id
                          type: string
                          readOnly: true
                        price:
                          title: Price
                          type: string
                          readOnly: true
                        updated_at:
                          title: Updated at
                          type: string
                          format: date-time
                          readOnly: true
                        created_at:
                          title: Created at
                          type: string
                          format: date-time
                          readOnly: true
                    org_id:
                      title: Org id
                      type: string
                      readOnly: true
                    rate:
                      title: Rate
                      type: string
                      readOnly: true
                    currency_from:
                      title: Currency from
                      type: string
                      readOnly: true
                    updated_at:
                      title: Updated at
                      type: string
                      format: date-time
                      readOnly: true
                    created_at:
                      title: Created at
                      type: string
                      format: date-time
                      readOnly: true
      tags:
      - credit
    post:
      operationId: credit_exchange_create
      description: Create credit exchange
      parameters:
      - name: data
        in: body
        required: true
        schema:
          required:
          - org_id
          - price
          - rate
          - currency_from
          type: object
          properties:
            org_id:
              title: Org id
              type: string
              format: uuid
            price:
              title: Price
              type: integer
            rate:
              title: Rate
              type: number
            currency_from:
              title: Currency from
              type: string
              minLength: 1
      responses:
        '400':
          description: Bad request
        '401':
          description: Unauthorized request
        '403':
          description: Forbidden
        '406':
          description: Not acceptable
        '201':
          description: New credit exchange
          schema:
            required:
            - credit_tariff
            type: object
            properties:
              id:
                title: Id
                type: string
                format: uuid
                readOnly: true
              credit_tariff:
                required:
                - credit_service
                type: object
                properties:
                  id:
                    title: Id
                    type: string
                    format: uuid
                    readOnly: true
                  credit_service:
                    required:
                    - type
                    type: object
                    properties:
                      id:
                        title: Id
                        type: string
                        format: uuid
                        readOnly: true
                      name:
                        title: Name
                        type: string
                        readOnly: true
                      type:
                        title: Type
                        type: string
                        enum:
                        - EXECUTE_MODEL_WGS
                        - EXECUTE_MODEL_GNT
                        - REPLENISHMENT
                        - GENERATE_PDF_REPORT_ANCESTRY
                        - GENERATE_PDF_REPORT_PRS_RUO_CARDIO
                        - GENERATE_PDF_REPORT_PRS_RUO_CANCER
                        - GENERATE_PDF_REPORT_PRS_CLINICAL
                        - GENERATE_PDF_REPORT_PRS_CLINICAL_CARDIO
                        - GENERATE_PDF_REPORT_PRS_CLINICAL_CANCER
                      named_model:
                        required:
                        - id
                        - model_name
                        type: object
                        properties:
                          id:
                            title: Id
                            type: string
                            format: uuid
                          model_name:
                            title: Model name
                            type: string
                            minLength: 1
                        x-nullable: true
                      created_at:
                        title: Created at
                        type: string
                        format: date-time
                        readOnly: true
                  org_id:
                    title: Org id
                    type: string
                    readOnly: true
                  price:
                    title: Price
                    type: string
                    readOnly: true
                  updated_at:
                    title: Updated at
                    type: string
                    format: date-time
                    readOnly: true
                  created_at:
                    title: Created at
                    type: string
                    format: date-time
                    readOnly: true
              org_id:
                title: Org id
                type: string
                readOnly: true
              rate:
                title: Rate
                type: string
                readOnly: true
              currency_from:
                title: Currency from
                type: string
                readOnly: true
              updated_at:
                title: Updated at
                type: string
                format: date-time
                readOnly: true
              created_at:
                title: Created at
                type: string
                format: date-time
                readOnly: true
      tags:
      - credit
    parameters: []
  /credit/exchange/{credit_exchange_id}:
    put:
      operationId: credit_exchange_update
      description: Edit credit exchange
      parameters:
      - name: data
        in: body
        required: true
        schema:
          required:
          - rate
          - price
          - currency_from
          type: object
          properties:
            rate:
              title: Rate
              type: number
            price:
              title: Price
              type: integer
            currency_from:
              title: Currency from
              type: string
              minLength: 1
      - name: credit_exchange_id
        in: path
        description: Id of credit exchange
        required: true
        type: string
      responses:
        '400':
          description: Bad request
        '401':
          description: Unauthorized request
        '403':
          description: Forbidden
        '406':
          description: Not acceptable
        '200':
          description: Updated credit exchange
          schema:
            required:
            - credit_tariff
            type: object
            properties:
              id:
                title: Id
                type: string
                format: uuid
                readOnly: true
              credit_tariff:
                required:
                - credit_service
                type: object
                properties:
                  id:
                    title: Id
                    type: string
                    format: uuid
                    readOnly: true
                  credit_service:
                    required:
                    - type
                    type: object
                    properties:
                      id:
                        title: Id
                        type: string
                        format: uuid
                        readOnly: true
                      name:
                        title: Name
                        type: string
                        readOnly: true
                      type:
                        title: Type
                        type: string
                        enum:
                        - EXECUTE_MODEL_WGS
                        - EXECUTE_MODEL_GNT
                        - REPLENISHMENT
                        - GENERATE_PDF_REPORT_ANCESTRY
                        - GENERATE_PDF_REPORT_PRS_RUO_CARDIO
                        - GENERATE_PDF_REPORT_PRS_RUO_CANCER
                        - GENERATE_PDF_REPORT_PRS_CLINICAL
                        - GENERATE_PDF_REPORT_PRS_CLINICAL_CARDIO
                        - GENERATE_PDF_REPORT_PRS_CLINICAL_CANCER
                      named_model:
                        required:
                        - id
                        - model_name
                        type: object
                        properties:
                          id:
                            title: Id
                            type: string
                            format: uuid
                          model_name:
                            title: Model name
                            type: string
                            minLength: 1
                        x-nullable: true
                      created_at:
                        title: Created at
                        type: string
                        format: date-time
                        readOnly: true
                  org_id:
                    title: Org id
                    type: string
                    readOnly: true
                  price:
                    title: Price
                    type: string
                    readOnly: true
                  updated_at:
                    title: Updated at
                    type: string
                    format: date-time
                    readOnly: true
                  created_at:
                    title: Created at
                    type: string
                    format: date-time
                    readOnly: true
              org_id:
                title: Org id
                type: string
                readOnly: true
              rate:
                title: Rate
                type: string
                readOnly: true
              currency_from:
                title: Currency from
                type: string
                readOnly: true
              updated_at:
                title: Updated at
                type: string
                format: date-time
                readOnly: true
              created_at:
                title: Created at
                type: string
                format: date-time
                readOnly: true
      tags:
      - credit
    delete:
      operationId: credit_exchange_delete
      description: Delete credit exchange
      parameters:
      - name: credit_exchange_id
        in: path
        description: Id of credit exchange
        required: true
        type: string
      responses:
        '401':
          description: unauthorized
        '403':
          description: forbidden
        '404':
          description: not found
        '200':
          description: ok
      tags:
      - credit
    parameters:
    - name: credit_exchange_id
      in: path
      required: true
      type: string
  /credit/ledger:
    get:
      operationId: credit_ledger_list
      description: Get credit ledger
      parameters:
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        type: integer
      - name: page_size
        in: query
        description: Number of results to return per page.
        required: false
        type: integer
      - name: orgs_ids
        in: query
        description: Search by ids of organizations
        required: false
        type: array
        items:
          type: string
      - name: order_id
        in: query
        description: Search by order id
        required: false
        type: string
      - name: credit_service_types
        in: query
        description: Search by credit service type
        required: false
        type: array
        items:
          type: string
          enum:
          - EXECUTE_MODEL_WGS
          - EXECUTE_MODEL_GNT
          - REPLENISHMENT
          - GENERATE_PDF_REPORT_ANCESTRY
          - GENERATE_PDF_REPORT_PRS_RUO_CARDIO
          - GENERATE_PDF_REPORT_PRS_RUO_CANCER
          - GENERATE_PDF_REPORT_PRS_CLINICAL
          - GENERATE_PDF_REPORT_PRS_CLINICAL_CARDIO
          - GENERATE_PDF_REPORT_PRS_CLINICAL_CANCER
      - name: model_api_names
        in: query
        description: Search by model api name
        required: false
        type: array
        items:
          type: string
          enum:
          - skywalker
          - hutt
          - palpatine
          - vader
          - mysterio
      - name: min_date
        in: query
        description: Search by date range
        required: false
        type: string
        format: date
        pattern: YYYY-MM-DD
        example: '2000-01-01'
      - name: max_date
        in: query
        description: Search by date range
        required: false
        type: string
        format: date
        pattern: YYYY-MM-DD
        example: '2000-01-01'
      - name: show_full
        in: query
        description: Show full ledger
        required: false
        type: boolean
      responses:
        '401':
          description: unauthorized
        '403':
          description: forbidden
        '200':
          description: Credit ledger
          schema:
            required:
            - count
            - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  required:
                  - id
                  - name
                  - transaction_id
                  - order_id
                  - status
                  - type
                  - comment
                  - json_comment
                  - org_id
                  - amount
                  - balance_from
                  - balance_to
                  - created_at
                  type: object
                  properties:
                    id:
                      title: Id
                      type: string
                      format: uuid
                    name:
                      title: Name
                      type: string
                      minLength: 1
                    transaction_id:
                      title: Transaction id
                      type: string
                      format: uuid
                    order_id:
                      title: Order id
                      type: string
                      format: uuid
                    status:
                      title: Status
                      type: string
                      minLength: 1
                    type:
                      title: Type
                      type: string
                      minLength: 1
                    comment:
                      title: Comment
                      type: string
                      minLength: 1
                    json_comment:
                      title: Json comment
                      type: object
                      additionalProperties:
                        type: string
                        x-nullable: true
                    org_id:
                      title: Org id
                      type: string
                      format: uuid
                    amount:
                      title: Amount
                      type: integer
                    balance_from:
                      title: Balance from
                      type: integer
                    balance_to:
                      title: Balance to
                      type: integer
                    created_at:
                      title: Created at
                      type: string
                      format: date-time
      tags:
      - credit
    parameters: []
  /credit/quickbooks_auth:
    get:
      operationId: credit_quickbooks_auth_list
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - credit
    parameters: []
  /credit/quickbooks_webhook:
    post:
      operationId: credit_quickbooks_webhook_create
      description: ''
      parameters: []
      responses:
        '201':
          description: ''
      tags:
      - credit
    parameters: []
  /credit/replenish:
    post:
      operationId: credit_replenish_create
      description: Replenish credits for organization
      parameters:
      - name: data
        in: body
        required: true
        schema:
          required:
          - org_id
          - amount
          type: object
          properties:
            org_id:
              title: Org id
              type: string
              format: uuid
            amount:
              title: Amount
              type: integer
      responses:
        '400':
          description: Bad request
        '401':
          description: Unauthorized request
        '403':
          description: Forbidden
        '406':
          description: Not acceptable
        '200':
          description: Organization credit balance
          schema:
            type: object
            properties:
              id:
                title: Id
                type: string
                format: uuid
                readOnly: true
              org_id:
                title: Org id
                type: string
                readOnly: true
              balance:
                title: Balance
                type: string
                readOnly: true
              created_at:
                title: Created at
                type: string
                format: date-time
                readOnly: true
              updated_at:
                title: Updated at
                type: string
                format: date-time
                readOnly: true
      tags:
      - credit
    parameters: []
  /credit/service:
    get:
      operationId: credit_service_list
      description: Get credit services
      parameters:
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        type: integer
      - name: page_size
        in: query
        description: Number of results to return per page.
        required: false
        type: integer
      - name: model_api_names
        in: query
        description: Search by model api name
        required: false
        type: array
        items:
          type: string
          enum:
          - skywalker
          - hutt
          - palpatine
          - vader
          - mysterio
      responses:
        '401':
          description: unauthorized
        '403':
          description: forbidden
        '200':
          description: Credit services list
          schema:
            required:
            - count
            - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  required:
                  - type
                  type: object
                  properties:
                    id:
                      title: Id
                      type: string
                      format: uuid
                      readOnly: true
                    name:
                      title: Name
                      type: string
                      readOnly: true
                    type:
                      title: Type
                      type: string
                      enum:
                      - EXECUTE_MODEL_WGS
                      - EXECUTE_MODEL_GNT
                      - REPLENISHMENT
                      - GENERATE_PDF_REPORT_ANCESTRY
                      - GENERATE_PDF_REPORT_PRS_RUO_CARDIO
                      - GENERATE_PDF_REPORT_PRS_RUO_CANCER
                      - GENERATE_PDF_REPORT_PRS_CLINICAL
                      - GENERATE_PDF_REPORT_PRS_CLINICAL_CARDIO
                      - GENERATE_PDF_REPORT_PRS_CLINICAL_CANCER
                    named_model:
                      required:
                      - id
                      - model_name
                      type: object
                      properties:
                        id:
                          title: Id
                          type: string
                          format: uuid
                        model_name:
                          title: Model name
                          type: string
                          minLength: 1
                      x-nullable: true
                    created_at:
                      title: Created at
                      type: string
                      format: date-time
                      readOnly: true
      tags:
      - credit
    post:
      operationId: credit_service_create
      description: Create credit service
      parameters:
      - name: data
        in: body
        required: true
        schema:
          required:
          - type
          type: object
          properties:
            named_model_id:
              title: Named model id
              type: string
              format: uuid
              x-nullable: true
            type:
              title: Type
              type: string
              enum:
              - EXECUTE_MODEL_WGS
              - EXECUTE_MODEL_GNT
              - REPLENISHMENT
              - GENERATE_PDF_REPORT_ANCESTRY
              - GENERATE_PDF_REPORT_PRS_RUO_CARDIO
              - GENERATE_PDF_REPORT_PRS_RUO_CANCER
              - GENERATE_PDF_REPORT_PRS_CLINICAL
              - GENERATE_PDF_REPORT_PRS_CLINICAL_CARDIO
              - GENERATE_PDF_REPORT_PRS_CLINICAL_CANCER
      responses:
        '400':
          description: Bad request
        '401':
          description: Unauthorized request
        '403':
          description: Forbidden
        '406':
          description: Not acceptable
        '201':
          description: New credit service
          schema:
            required:
            - type
            type: object
            properties:
              id:
                title: Id
                type: string
                format: uuid
                readOnly: true
              name:
                title: Name
                type: string
                readOnly: true
              type:
                title: Type
                type: string
                enum:
                - EXECUTE_MODEL_WGS
                - EXECUTE_MODEL_GNT
                - REPLENISHMENT
                - GENERATE_PDF_REPORT_ANCESTRY
                - GENERATE_PDF_REPORT_PRS_RUO_CARDIO
                - GENERATE_PDF_REPORT_PRS_RUO_CANCER
                - GENERATE_PDF_REPORT_PRS_CLINICAL
                - GENERATE_PDF_REPORT_PRS_CLINICAL_CARDIO
                - GENERATE_PDF_REPORT_PRS_CLINICAL_CANCER
              named_model:
                required:
                - id
                - model_name
                type: object
                properties:
                  id:
                    title: Id
                    type: string
                    format: uuid
                  model_name:
                    title: Model name
                    type: string
                    minLength: 1
                x-nullable: true
              created_at:
                title: Created at
                type: string
                format: date-time
                readOnly: true
      tags:
      - credit
    parameters: []
  /credit/service/{credit_service_id}:
    delete:
      operationId: credit_service_delete
      description: Delete credit service
      parameters:
      - name: credit_service_id
        in: path
        description: Id of credit service
        required: true
        type: string
      responses:
        '401':
          description: unauthorized
        '403':
          description: forbidden
        '404':
          description: not found
        '200':
          description: ok
      tags:
      - credit
    parameters:
    - name: credit_service_id
      in: path
      required: true
      type: string
  /credit/tariff:
    get:
      operationId: credit_tariff_list
      description: Get credit tariffs
      parameters:
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        type: integer
      - name: page_size
        in: query
        description: Number of results to return per page.
        required: false
        type: integer
      - name: orgs_ids
        in: query
        description: Ids of organizations
        required: false
        type: array
        items:
          type: string
      - name: credit_service_types
        in: query
        description: Search by credit service type
        required: false
        type: array
        items:
          type: string
          enum:
          - EXECUTE_MODEL_WGS
          - EXECUTE_MODEL_GNT
          - REPLENISHMENT
          - GENERATE_PDF_REPORT_ANCESTRY
          - GENERATE_PDF_REPORT_PRS_RUO_CARDIO
          - GENERATE_PDF_REPORT_PRS_RUO_CANCER
          - GENERATE_PDF_REPORT_PRS_CLINICAL
          - GENERATE_PDF_REPORT_PRS_CLINICAL_CARDIO
          - GENERATE_PDF_REPORT_PRS_CLINICAL_CANCER
      - name: model_api_names
        in: query
        description: Search by model api name
        required: false
        type: array
        items:
          type: string
          enum:
          - skywalker
          - hutt
          - palpatine
          - vader
          - mysterio
      - name: named_models
        in: query
        description: Search by named models
        required: false
        type: array
        items:
          type: string
      responses:
        '401':
          description: unauthorized
        '403':
          description: forbidden
        '200':
          description: Credit tariffs list
          schema:
            required:
            - count
            - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  required:
                  - credit_service
                  type: object
                  properties:
                    id:
                      title: Id
                      type: string
                      format: uuid
                      readOnly: true
                    credit_service:
                      required:
                      - type
                      type: object
                      properties:
                        id:
                          title: Id
                          type: string
                          format: uuid
                          readOnly: true
                        name:
                          title: Name
                          type: string
                          readOnly: true
                        type:
                          title: Type
                          type: string
                          enum:
                          - EXECUTE_MODEL_WGS
                          - EXECUTE_MODEL_GNT
                          - REPLENISHMENT
                          - GENERATE_PDF_REPORT_ANCESTRY
                          - GENERATE_PDF_REPORT_PRS_RUO_CARDIO
                          - GENERATE_PDF_REPORT_PRS_RUO_CANCER
                          - GENERATE_PDF_REPORT_PRS_CLINICAL
                          - GENERATE_PDF_REPORT_PRS_CLINICAL_CARDIO
                          - GENERATE_PDF_REPORT_PRS_CLINICAL_CANCER
                        named_model:
                          required:
                          - id
                          - model_name
                          type: object
                          properties:
                            id:
                              title: Id
                              type: string
                              format: uuid
                            model_name:
                              title: Model name
                              type: string
                              minLength: 1
                          x-nullable: true
                        created_at:
                          title: Created at
                          type: string
                          format: date-time
                          readOnly: true
                    org_id:
                      title: Org id
                      type: string
                      readOnly: true
                    price:
                      title: Price
                      type: string
                      readOnly: true
                    updated_at:
                      title: Updated at
                      type: string
                      format: date-time
                      readOnly: true
                    created_at:
                      title: Created at
                      type: string
                      format: date-time
                      readOnly: true
      tags:
      - credit
    post:
      operationId: credit_tariff_create
      description: Create credit tariff
      parameters:
      - name: data
        in: body
        required: true
        schema:
          required:
          - org_id
          - credit_service_id
          - price
          type: object
          properties:
            org_id:
              title: Org id
              type: string
              format: uuid
            credit_service_id:
              title: Credit service id
              type: string
              format: uuid
            price:
              title: Price
              type: integer
      responses:
        '400':
          description: Bad request
        '401':
          description: Unauthorized request
        '403':
          description: Forbidden
        '406':
          description: Not acceptable
        '201':
          description: New credit service
          schema:
            required:
            - credit_service
            type: object
            properties:
              id:
                title: Id
                type: string
                format: uuid
                readOnly: true
              credit_service:
                required:
                - type
                type: object
                properties:
                  id:
                    title: Id
                    type: string
                    format: uuid
                    readOnly: true
                  name:
                    title: Name
                    type: string
                    readOnly: true
                  type:
                    title: Type
                    type: string
                    enum:
                    - EXECUTE_MODEL_WGS
                    - EXECUTE_MODEL_GNT
                    - REPLENISHMENT
                    - GENERATE_PDF_REPORT_ANCESTRY
                    - GENERATE_PDF_REPORT_PRS_RUO_CARDIO
                    - GENERATE_PDF_REPORT_PRS_RUO_CANCER
                    - GENERATE_PDF_REPORT_PRS_CLINICAL
                    - GENERATE_PDF_REPORT_PRS_CLINICAL_CARDIO
                    - GENERATE_PDF_REPORT_PRS_CLINICAL_CANCER
                  named_model:
                    required:
                    - id
                    - model_name
                    type: object
                    properties:
                      id:
                        title: Id
                        type: string
                        format: uuid
                      model_name:
                        title: Model name
                        type: string
                        minLength: 1
                    x-nullable: true
                  created_at:
                    title: Created at
                    type: string
                    format: date-time
                    readOnly: true
              org_id:
                title: Org id
                type: string
                readOnly: true
              price:
                title: Price
                type: string
                readOnly: true
              updated_at:
                title: Updated at
                type: string
                format: date-time
                readOnly: true
              created_at:
                title: Created at
                type: string
                format: date-time
                readOnly: true
      tags:
      - credit
    parameters: []
  /credit/tariff/{credit_tariff_id}:
    put:
      operationId: credit_tariff_update
      description: Edit credit tariff
      parameters:
      - name: data
        in: body
        required: true
        schema:
          required:
          - price
          type: object
          properties:
            price:
              title: Price
              type: integer
      - name: credit_tariff_id
        in: path
        description: Id of credit tariff
        required: true
        type: string
      responses:
        '400':
          description: Bad request
        '401':
          description: Unauthorized request
        '403':
          description: Forbidden
        '406':
          description: Not acceptable
        '200':
          description: Updated credit tariff
          schema:
            required:
            - credit_service
            type: object
            properties:
              id:
                title: Id
                type: string
                format: uuid
                readOnly: true
              credit_service:
                required:
                - type
                type: object
                properties:
                  id:
                    title: Id
                    type: string
                    format: uuid
                    readOnly: true
                  name:
                    title: Name
                    type: string
                    readOnly: true
                  type:
                    title: Type
                    type: string
                    enum:
                    - EXECUTE_MODEL_WGS
                    - EXECUTE_MODEL_GNT
                    - REPLENISHMENT
                    - GENERATE_PDF_REPORT_ANCESTRY
                    - GENERATE_PDF_REPORT_PRS_RUO_CARDIO
                    - GENERATE_PDF_REPORT_PRS_RUO_CANCER
                    - GENERATE_PDF_REPORT_PRS_CLINICAL
                    - GENERATE_PDF_REPORT_PRS_CLINICAL_CARDIO
                    - GENERATE_PDF_REPORT_PRS_CLINICAL_CANCER
                  named_model:
                    required:
                    - id
                    - model_name
                    type: object
                    properties:
                      id:
                        title: Id
                        type: string
                        format: uuid
                      model_name:
                        title: Model name
                        type: string
                        minLength: 1
                    x-nullable: true
                  created_at:
                    title: Created at
                    type: string
                    format: date-time
                    readOnly: true
              org_id:
                title: Org id
                type: string
                readOnly: true
              price:
                title: Price
                type: string
                readOnly: true
              updated_at:
                title: Updated at
                type: string
                format: date-time
                readOnly: true
              created_at:
                title: Created at
                type: string
                format: date-time
                readOnly: true
      tags:
      - credit
    delete:
      operationId: credit_tariff_delete
      description: Delete credit tariff
      parameters:
      - name: credit_tariff_id
        in: path
        description: Id of credit tariff
        required: true
        type: string
      responses:
        '401':
          description: unauthorized
        '403':
          description: forbidden
        '404':
          description: not found
        '200':
          description: ok
      tags:
      - credit
    parameters:
    - name: credit_tariff_id
      in: path
      required: true
      type: string
  /credit/template:
    get:
      operationId: credit_template_list
      description: Get credit templates
      parameters:
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        type: integer
      - name: page_size
        in: query
        description: Number of results to return per page.
        required: false
        type: integer
      - name: orgs_ids
        in: query
        description: Ids of organizations
        required: false
        type: array
        items:
          type: string
      - name: credit_service_types
        in: query
        description: Search by credit service type
        required: false
        type: array
        items:
          type: string
          enum:
          - EXECUTE_MODEL_WGS
          - EXECUTE_MODEL_GNT
          - REPLENISHMENT
          - GENERATE_PDF_REPORT_ANCESTRY
          - GENERATE_PDF_REPORT_PRS_RUO_CARDIO
          - GENERATE_PDF_REPORT_PRS_RUO_CANCER
          - GENERATE_PDF_REPORT_PRS_CLINICAL
          - GENERATE_PDF_REPORT_PRS_CLINICAL_CARDIO
          - GENERATE_PDF_REPORT_PRS_CLINICAL_CANCER
      - name: model_api_names
        in: query
        description: Search by model api name
        required: false
        type: array
        items:
          type: string
          enum:
          - skywalker
          - hutt
          - palpatine
          - vader
          - mysterio
      responses:
        '401':
          description: unauthorized
        '403':
          description: forbidden
        '200':
          description: Credit tariffs list
          schema:
            required:
            - count
            - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  required:
                  - model_api_name
                  - type
                  type: object
                  properties:
                    id:
                      title: Id
                      type: string
                      format: uuid
                      readOnly: true
                    model_api_name:
                      title: Model api name
                      type: string
                      enum:
                      - skywalker
                      - hutt
                      - palpatine
                      - vader
                      - mysterio
                      - check_source
                    org_id:
                      title: Org id
                      type: string
                      readOnly: true
                    type:
                      title: Type
                      type: string
                      enum:
                      - EXECUTE_MODEL_WGS
                      - EXECUTE_MODEL_GNT
                      - REPLENISHMENT
                      - GENERATE_PDF_REPORT_ANCESTRY
                      - GENERATE_PDF_REPORT_PRS_RUO_CARDIO
                      - GENERATE_PDF_REPORT_PRS_RUO_CANCER
                      - GENERATE_PDF_REPORT_PRS_CLINICAL
                      - GENERATE_PDF_REPORT_PRS_CLINICAL_CARDIO
                      - GENERATE_PDF_REPORT_PRS_CLINICAL_CANCER
                    price:
                      title: Price
                      type: string
                      readOnly: true
                    updated_at:
                      title: Updated at
                      type: string
                      format: date-time
                      readOnly: true
                    created_at:
                      title: Created at
                      type: string
                      format: date-time
                      readOnly: true
      tags:
      - credit
    parameters: []
  /credit/template/{credit_template_id}:
    put:
      operationId: credit_template_update
      description: Edit credit template
      parameters:
      - name: data
        in: body
        required: true
        schema:
          required:
          - price
          type: object
          properties:
            price:
              title: Price
              type: integer
      - name: credit_template_id
        in: path
        description: Id of credit template
        required: true
        type: string
      responses:
        '400':
          description: Bad request
        '401':
          description: Unauthorized request
        '403':
          description: Forbidden
        '406':
          description: Not acceptable
        '200':
          description: Updated credit template
          schema:
            required:
            - model_api_name
            - type
            type: object
            properties:
              id:
                title: Id
                type: string
                format: uuid
                readOnly: true
              model_api_name:
                title: Model api name
                type: string
                enum:
                - skywalker
                - hutt
                - palpatine
                - vader
                - mysterio
                - check_source
              org_id:
                title: Org id
                type: string
                readOnly: true
              type:
                title: Type
                type: string
                enum:
                - EXECUTE_MODEL_WGS
                - EXECUTE_MODEL_GNT
                - REPLENISHMENT
                - GENERATE_PDF_REPORT_ANCESTRY
                - GENERATE_PDF_REPORT_PRS_RUO_CARDIO
                - GENERATE_PDF_REPORT_PRS_RUO_CANCER
                - GENERATE_PDF_REPORT_PRS_CLINICAL
                - GENERATE_PDF_REPORT_PRS_CLINICAL_CARDIO
                - GENERATE_PDF_REPORT_PRS_CLINICAL_CANCER
              price:
                title: Price
                type: string
                readOnly: true
              updated_at:
                title: Updated at
                type: string
                format: date-time
                readOnly: true
              created_at:
                title: Created at
                type: string
                format: date-time
                readOnly: true
      tags:
      - credit
    parameters:
    - name: credit_template_id
      in: path
      required: true
      type: string
  /credit/write_off:
    post:
      operationId: credit_write_off_create
      description: Write off credits for organization
      parameters:
      - name: data
        in: body
        required: true
        schema:
          required:
          - org_id
          - amount
          type: object
          properties:
            org_id:
              title: Org id
              type: string
              format: uuid
            amount:
              title: Amount
              type: integer
      responses:
        '400':
          description: Bad request
        '401':
          description: Unauthorized request
        '403':
          description: Forbidden
        '406':
          description: Not acceptable
        '200':
          description: Organization credit balance
          schema:
            type: object
            properties:
              id:
                title: Id
                type: string
                format: uuid
                readOnly: true
              org_id:
                title: Org id
                type: string
                readOnly: true
              balance:
                title: Balance
                type: string
                readOnly: true
              created_at:
                title: Created at
                type: string
                format: date-time
                readOnly: true
              updated_at:
                title: Updated at
                type: string
                format: date-time
                readOnly: true
      tags:
      - credit
    parameters: []
  /dashboard/admix:
    get:
      operationId: dashboard_admix_list
      description: Get dashboard data AdmixPlot
      parameters:
      - name: sort_by
        in: query
        description: Sorting
        required: false
        type: string
        enum:
        - sp_group
      - name: group_by
        in: query
        description: Grouping
        required: false
        type: string
        enum:
        - sp_group
      - name: order_id
        in: query
        description: Search by order id
        required: false
        type: string
      - name: tags_ids
        in: query
        description: Filter by tags ids
        required: false
        type: array
        items:
          type: string
      - name: ancestral_component
        in: query
        description: 'Ancestral component, one of item related to the model api

          Skywalker: AFR, AMR, EAS, EUR, LME, OCE, SAS

          Vader: AFR, AMR, EAS, EUR, LME, SAS, SEA, OCE, OTHERSHutt: AFR, EUR, EAS, NAM, SAS, OCE, LMEPalpatine: CAS, EAS,
          NAS, SAS, SEA, WAS, XAS'
        required: false
        type: string
      - name: threshold
        in: query
        description: Threshold
        required: false
        type: number
      - name: model_name
        in: query
        description: Model name
        required: false
        type: string
      - name: model_api_name
        in: query
        description: Model API name
        required: false
        type: string
        enum:
        - skywalker
        - hutt
        - palpatine
        - vader
        - mysterio
      - name: min_date
        in: query
        description: Min date
        required: false
        type: string
        format: date
        pattern: YYYY-MM-DD
        example: '2000-01-01'
      - name: max_date
        in: query
        description: Max date
        required: false
        type: string
        format: date
        pattern: YYYY-MM-DD
        example: '2000-01-01'
      - name: all_records
        in: query
        description: Show all records
        required: false
        type: boolean
      - name: plot_request_id
        in: query
        description: Get already existed backend plot
        required: false
        type: string
      responses:
        '401':
          description: unauthorized
        '403':
          description: forbidden
        '200':
          description: Entity list
          schema:
            required:
            - meta
            - items
            type: object
            properties:
              meta:
                required:
                - groups
                - total_count
                type: object
                properties:
                  groups:
                    type: array
                    items:
                      required:
                      - name
                      - count
                      type: object
                      properties:
                        name:
                          title: Name
                          type: string
                          minLength: 1
                        count:
                          title: Count
                          type: integer
                  total_count:
                    title: Total count
                    type: integer
              items:
                type: array
                items:
                  required:
                  - x
                  - y
                  - series
                  type: object
                  properties:
                    x:
                      title: X
                      type: string
                      minLength: 1
                    y:
                      title: Y
                      type: number
                    series:
                      title: Series
                      type: string
                      minLength: 1
      tags:
      - dashboard
    parameters: []
  /dashboard/donut:
    get:
      operationId: dashboard_donut_list
      description: Get dashboard data DonutPlot22
      parameters:
      - name: order_id
        in: query
        description: Search by order id
        required: false
        type: string
      - name: tags_ids
        in: query
        description: Filter by tags ids
        required: false
        type: array
        items:
          type: string
      - name: ancestral_component
        in: query
        description: 'Ancestral component, one of item related to the model api

          Skywalker: AFR, AMR, EAS, EUR, LME, OCE, SAS

          Vader: AFR, AMR, EAS, EUR, LME, SAS, SEA, OCE, OTHERSHutt: AFR, EUR, EAS, NAM, SAS, OCE, LMEPalpatine: CAS, EAS,
          NAS, SAS, SEA, WAS, XAS'
        required: false
        type: string
      - name: threshold
        in: query
        description: Threshold
        required: false
        type: number
      - name: model_name
        in: query
        description: Model name
        required: false
        type: string
      - name: model_api_name
        in: query
        description: Model API name
        required: false
        type: string
        enum:
        - skywalker
        - hutt
        - palpatine
        - vader
        - mysterio
      - name: min_date
        in: query
        description: Min date
        required: false
        type: string
        format: date
        pattern: YYYY-MM-DD
        example: '2000-01-01'
      - name: max_date
        in: query
        description: Max date
        required: false
        type: string
        format: date
        pattern: YYYY-MM-DD
        example: '2000-01-01'
      - name: all_records
        in: query
        description: Show all records
        required: false
        type: boolean
      - name: plot_request_id
        in: query
        description: Get already existed backend plot
        required: false
        type: string
      responses:
        '401':
          description: unauthorized
        '403':
          description: forbidden
        '200':
          description: Entity list
          schema:
            required:
            - children
            type: object
            properties:
              children:
                type: array
                items:
                  required:
                  - children
                  - name
                  - value
                  type: object
                  properties:
                    children:
                      type: array
                      items:
                        required:
                        - name
                        - value
                        type: object
                        properties:
                          name:
                            title: Name
                            type: string
                            minLength: 1
                          value:
                            title: Value
                            type: number
                    name:
                      title: Name
                      type: string
                      minLength: 1
                    value:
                      title: Value
                      type: number
      tags:
      - dashboard
    parameters: []
  /dashboard/plot_request:
    get:
      operationId: dashboard_plot_request_list
      description: Get plot requests
      parameters:
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        type: integer
      - name: page_size
        in: query
        description: Number of results to return per page.
        required: false
        type: integer
      - name: model_api_name
        in: query
        description: Model API name
        required: false
        type: string
        enum:
        - skywalker
        - hutt
        - palpatine
        - vader
        - mysterio
      responses:
        '401':
          description: unauthorized
        '403':
          description: forbidden
        '200':
          description: Plot requests list
          schema:
            required:
            - count
            - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  required:
                  - filter
                  - model_api_name
                  type: object
                  properties:
                    id:
                      title: Id
                      type: string
                      format: uuid
                      readOnly: true
                    user_id:
                      title: User id
                      type: string
                      readOnly: true
                    filter:
                      title: Filter
                      type: string
                    model_api_name:
                      title: Model api name
                      type: string
                      enum:
                      - skywalker
                      - hutt
                      - palpatine
                      - vader
                      - mysterio
                      - check_source
                    items_count:
                      title: Items count
                      type: integer
                      maximum: 2147483647
                      minimum: -2147483648
                      x-nullable: true
                    created_at:
                      title: Created at
                      type: string
                      format: date-time
                      readOnly: true
                    updated_at:
                      title: Updated at
                      type: string
                      format: date-time
                      readOnly: true
                    completed:
                      title: Completed
                      type: string
                      readOnly: true
      tags:
      - dashboard
    parameters: []
  /dashboard/table_set:
    get:
      operationId: dashboard_table_set_list
      description: Get table with data for Set labels
      parameters:
      - name: sort_by
        in: query
        description: Sorting
        required: false
        type: string
        enum:
        - sp_group
      - name: group_by
        in: query
        description: Grouping
        required: false
        type: string
        enum:
        - sp_group
      - name: sample_id
        in: query
        description: Search by SampleID
        required: false
        type: string
      - name: order_id
        in: query
        description: Search by order id
        required: false
        type: string
      - name: tags_ids
        in: query
        description: Filter by tags ids
        required: false
        type: array
        items:
          type: string
      - name: ancestral_component
        in: query
        description: 'Ancestral component, one of item related to the model api

          Skywalker: AFR, AMR, EAS, EUR, LME, OCE, SAS

          Vader: AFR, AMR, EAS, EUR, LME, SAS, SEA, OCE, OTHERSHutt: AFR, EUR, EAS, NAM, SAS, OCE, LMEPalpatine: CAS, EAS,
          NAS, SAS, SEA, WAS, XAS'
        required: false
        type: string
      - name: threshold
        in: query
        description: Threshold
        required: false
        type: number
      - name: model_name
        in: query
        description: Model name
        required: false
        type: string
      - name: model_api_name
        in: query
        description: Model API name
        required: false
        type: string
        enum:
        - skywalker
        - hutt
        - palpatine
        - vader
        - mysterio
      - name: min_date
        in: query
        description: Min date
        required: false
        type: string
        format: date
        pattern: YYYY-MM-DD
        example: '2000-01-01'
      - name: max_date
        in: query
        description: Max date
        required: false
        type: string
        format: date
        pattern: YYYY-MM-DD
        example: '2000-01-01'
      - name: all_records
        in: query
        description: Show all records
        required: false
        type: boolean
      responses:
        '401':
          description: unauthorized
        '403':
          description: forbidden
        '200':
          description: Paginated entity list
      tags:
      - dashboard
    parameters: []
  /dashboard/table_set/export:
    get:
      operationId: dashboard_table_set_export_list
      description: Export table with data for Set labels
      parameters:
      - name: sort_by
        in: query
        description: Sorting
        required: false
        type: string
        enum:
        - sp_group
      - name: group_by
        in: query
        description: Grouping
        required: false
        type: string
        enum:
        - sp_group
      - name: sample_id
        in: query
        description: Search by SampleID
        required: false
        type: string
      - name: order_id
        in: query
        description: Search by order id
        required: false
        type: string
      - name: tags_ids
        in: query
        description: Filter by tags ids
        required: false
        type: array
        items:
          type: string
      - name: ancestral_component
        in: query
        description: 'Ancestral component, one of item related to the model api

          Skywalker: AFR, AMR, EAS, EUR, LME, OCE, SAS

          Vader: AFR, AMR, EAS, EUR, LME, SAS, SEA, OCE, OTHERSHutt: AFR, EUR, EAS, NAM, SAS, OCE, LMEPalpatine: CAS, EAS,
          NAS, SAS, SEA, WAS, XAS'
        required: false
        type: string
      - name: threshold
        in: query
        description: Threshold
        required: false
        type: number
      - name: model_name
        in: query
        description: Model name
        required: false
        type: string
      - name: model_api_name
        in: query
        description: Model API name
        required: false
        type: string
        enum:
        - skywalker
        - hutt
        - palpatine
        - vader
        - mysterio
      - name: min_date
        in: query
        description: Min date
        required: false
        type: string
        format: date
        pattern: YYYY-MM-DD
        example: '2000-01-01'
      - name: max_date
        in: query
        description: Max date
        required: false
        type: string
        format: date
        pattern: YYYY-MM-DD
        example: '2000-01-01'
      - name: all_records
        in: query
        description: Show all records
        required: false
        type: boolean
      responses:
        '401':
          description: unauthorized
        '403':
          description: forbidden
        '200':
          description: Result file stream
      tags:
      - dashboard
    parameters: []
  /dashboard/table_superset:
    get:
      operationId: dashboard_table_superset_list
      description: Get table with data for Superset Group labels
      parameters:
      - name: sort_by
        in: query
        description: Sorting
        required: false
        type: string
        enum:
        - sp_group
      - name: group_by
        in: query
        description: Grouping
        required: false
        type: string
        enum:
        - sp_group
      - name: sample_id
        in: query
        description: Search by SampleID
        required: false
        type: string
      - name: order_id
        in: query
        description: Search by order id
        required: false
        type: string
      - name: tags_ids
        in: query
        description: Filter by tags ids
        required: false
        type: array
        items:
          type: string
      - name: ancestral_component
        in: query
        description: 'Ancestral component, one of item related to the model api

          Skywalker: AFR, AMR, EAS, EUR, LME, OCE, SAS

          Vader: AFR, AMR, EAS, EUR, LME, SAS, SEA, OCE, OTHERSHutt: AFR, EUR, EAS, NAM, SAS, OCE, LMEPalpatine: CAS, EAS,
          NAS, SAS, SEA, WAS, XAS'
        required: false
        type: string
      - name: threshold
        in: query
        description: Threshold
        required: false
        type: number
      - name: model_name
        in: query
        description: Model name
        required: false
        type: string
      - name: model_api_name
        in: query
        description: Model API name
        required: false
        type: string
        enum:
        - skywalker
        - hutt
        - palpatine
        - vader
        - mysterio
      - name: min_date
        in: query
        description: Min date
        required: false
        type: string
        format: date
        pattern: YYYY-MM-DD
        example: '2000-01-01'
      - name: max_date
        in: query
        description: Max date
        required: false
        type: string
        format: date
        pattern: YYYY-MM-DD
        example: '2000-01-01'
      - name: all_records
        in: query
        description: Show all records
        required: false
        type: boolean
      responses:
        '401':
          description: unauthorized
        '403':
          description: forbidden
        '200':
          description: Paginated entity list
      tags:
      - dashboard
    parameters: []
  /dashboard/table_superset/export:
    get:
      operationId: dashboard_table_superset_export_list
      description: Export table with data for 7 labels
      parameters:
      - name: sort_by
        in: query
        description: Sorting
        required: false
        type: string
        enum:
        - sp_group
      - name: group_by
        in: query
        description: Grouping
        required: false
        type: string
        enum:
        - sp_group
      - name: sample_id
        in: query
        description: Search by SampleID
        required: false
        type: string
      - name: order_id
        in: query
        description: Search by order id
        required: false
        type: string
      - name: tags_ids
        in: query
        description: Filter by tags ids
        required: false
        type: array
        items:
          type: string
      - name: ancestral_component
        in: query
        description: 'Ancestral component, one of item related to the model api

          Skywalker: AFR, AMR, EAS, EUR, LME, OCE, SAS

          Vader: AFR, AMR, EAS, EUR, LME, SAS, SEA, OCE, OTHERSHutt: AFR, EUR, EAS, NAM, SAS, OCE, LMEPalpatine: CAS, EAS,
          NAS, SAS, SEA, WAS, XAS'
        required: false
        type: string
      - name: threshold
        in: query
        description: Threshold
        required: false
        type: number
      - name: model_name
        in: query
        description: Model name
        required: false
        type: string
      - name: model_api_name
        in: query
        description: Model API name
        required: false
        type: string
        enum:
        - skywalker
        - hutt
        - palpatine
        - vader
        - mysterio
      - name: min_date
        in: query
        description: Min date
        required: false
        type: string
        format: date
        pattern: YYYY-MM-DD
        example: '2000-01-01'
      - name: max_date
        in: query
        description: Max date
        required: false
        type: string
        format: date
        pattern: YYYY-MM-DD
        example: '2000-01-01'
      - name: all_records
        in: query
        description: Show all records
        required: false
        type: boolean
      responses:
        '401':
          description: unauthorized
        '403':
          description: forbidden
        '200':
          description: Result file stream
      tags:
      - dashboard
    parameters: []
  /data/files:
    get:
      operationId: data_files_list
      description: Get source files with pagination
      parameters:
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        type: integer
      - name: page_size
        in: query
        description: Number of results to return per page.
        required: false
        type: integer
      - name: file
        in: query
        description: Search by id or filename
        required: false
        type: string
      - name: only_acceptable
        in: query
        description: Search in not deleted and acceptable files
        required: false
        type: boolean
      - name: org_names
        in: query
        description: Search by organizations names
        required: false
        type: array
        items:
          type: string
      - name: min_date
        in: query
        description: Search by date range
        required: false
        type: string
        format: date
        pattern: YYYY-MM-DD
        example: '2000-01-01'
      - name: max_date
        in: query
        description: Search by date range
        required: false
        type: string
        format: date
        pattern: YYYY-MM-DD
        example: '2000-01-01'
      - name: show_virtual
        in: query
        description: Show virtual/external source files
        required: false
        type: boolean
      - name: files_ids
        in: query
        description: List of File IDs for search
        required: false
        type: array
        items:
          type: string
      responses:
        '401':
          description: unauthorized
        '403':
          description: forbidden
        '200':
          description: Paginated entity list
          schema:
            required:
            - count
            - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  required:
                  - id
                  - src_file_name
                  - file_size_bytes
                  type: object
                  properties:
                    id:
                      title: Id
                      type: string
                      format: uuid
                    status:
                      title: Status
                      type: string
                      readOnly: true
                    src_file_name:
                      title: Src file name
                      type: string
                      maxLength: 190
                      minLength: 1
                    src_short_file_path:
                      title: Src short file path
                      type: string
                      readOnly: true
                    file_size_bytes:
                      title: File size bytes
                      type: integer
                      maximum: 9223372036854775807
                      minimum: -9223372036854775808
                    created_at:
                      title: Created at
                      type: string
                      format: date-time
                      readOnly: true
                    check_sum:
                      title: Check sum
                      type: string
                      maxLength: 128
                      minLength: 1
                      x-nullable: true
                    acceptable:
                      title: Acceptable
                      type: boolean
                    purged_from_storage:
                      title: Purged from storage
                      type: boolean
                    orders_count:
                      title: Orders count
                      type: integer
                      readOnly: true
                      default: 0
                    genome_type:
                      title: Genome type
                      type: string
                      enum:
                      - GNT
                      - WGS
                    amount_of_samples:
                      title: Amount of samples
                      type: integer
                      maximum: 2147483647
                      minimum: -2147483648
                    deleted_at:
                      title: Deleted at
                      type: string
                      format: date-time
                      x-nullable: true
                    org_name:
                      title: Org name
                      type: string
                      readOnly: true
                    check_completed:
                      title: Check completed
                      type: boolean
                    sample_alias:
                      title: Sample alias
                      type: string
                      readOnly: true
                    check_information:
                      title: Check information
                      type: string
                      maxLength: 1000
                      x-nullable: true
                    virtual:
                      title: Virtual
                      type: boolean
      tags:
      - data
    parameters: []
  /data/files/upload:
    post:
      operationId: data_files_upload_create
      description: Upload source file
      parameters:
      - name: file
        in: formData
        description: Source file
        required: true
        type: file
      responses:
        '401':
          description: unauthorized
        '403':
          description: forbidden
        '201':
          description: Source file
          schema:
            required:
            - id
            - src_file_name
            - file_size_bytes
            type: object
            properties:
              id:
                title: Id
                type: string
                format: uuid
              status:
                title: Status
                type: string
                readOnly: true
              src_file_name:
                title: Src file name
                type: string
                maxLength: 190
                minLength: 1
              src_short_file_path:
                title: Src short file path
                type: string
                readOnly: true
              file_size_bytes:
                title: File size bytes
                type: integer
                maximum: 9223372036854775807
                minimum: -9223372036854775808
              created_at:
                title: Created at
                type: string
                format: date-time
                readOnly: true
              check_sum:
                title: Check sum
                type: string
                maxLength: 128
                minLength: 1
                x-nullable: true
              acceptable:
                title: Acceptable
                type: boolean
              purged_from_storage:
                title: Purged from storage
                type: boolean
              orders_count:
                title: Orders count
                type: integer
                readOnly: true
                default: 0
              genome_type:
                title: Genome type
                type: string
                enum:
                - GNT
                - WGS
              amount_of_samples:
                title: Amount of samples
                type: integer
                maximum: 2147483647
                minimum: -2147483648
              deleted_at:
                title: Deleted at
                type: string
                format: date-time
                x-nullable: true
              org_name:
                title: Org name
                type: string
                readOnly: true
              check_completed:
                title: Check completed
                type: boolean
              sample_alias:
                title: Sample alias
                type: string
                readOnly: true
              check_information:
                title: Check information
                type: string
                maxLength: 1000
                x-nullable: true
              virtual:
                title: Virtual
                type: boolean
      consumes:
      - multipart/form-data
      - application/x-www-form-urlencoded
      tags:
      - data
    parameters: []
  /data/files/{source_file_id}:
    put:
      operationId: data_files_update
      description: Update source file
      parameters:
      - name: data
        in: body
        required: true
        schema:
          type: object
          properties:
            sample_alias:
              title: Sample alias
              type: string
              x-nullable: true
      - name: source_file_id
        in: path
        description: Id of source file
        required: true
        type: string
      responses:
        '401':
          description: unauthorized
        '403':
          description: forbidden
        '404':
          description: not found
        '201':
          description: Source file
          schema:
            required:
            - id
            - src_file_name
            - file_size_bytes
            type: object
            properties:
              id:
                title: Id
                type: string
                format: uuid
              status:
                title: Status
                type: string
                readOnly: true
              src_file_name:
                title: Src file name
                type: string
                maxLength: 190
                minLength: 1
              src_short_file_path:
                title: Src short file path
                type: string
                readOnly: true
              file_size_bytes:
                title: File size bytes
                type: integer
                maximum: 9223372036854775807
                minimum: -9223372036854775808
              created_at:
                title: Created at
                type: string
                format: date-time
                readOnly: true
              check_sum:
                title: Check sum
                type: string
                maxLength: 128
                minLength: 1
                x-nullable: true
              acceptable:
                title: Acceptable
                type: boolean
              purged_from_storage:
                title: Purged from storage
                type: boolean
              orders_count:
                title: Orders count
                type: integer
                readOnly: true
                default: 0
              genome_type:
                title: Genome type
                type: string
                enum:
                - GNT
                - WGS
              amount_of_samples:
                title: Amount of samples
                type: integer
                maximum: 2147483647
                minimum: -2147483648
              deleted_at:
                title: Deleted at
                type: string
                format: date-time
                x-nullable: true
              org_name:
                title: Org name
                type: string
                readOnly: true
              check_completed:
                title: Check completed
                type: boolean
              sample_alias:
                title: Sample alias
                type: string
                readOnly: true
              check_information:
                title: Check information
                type: string
                maxLength: 1000
                x-nullable: true
              virtual:
                title: Virtual
                type: boolean
      tags:
      - data
    delete:
      operationId: data_files_delete
      description: Delete source file
      parameters:
      - name: source_file_id
        in: path
        description: Id of source file
        required: true
        type: string
      responses:
        '401':
          description: unauthorized
        '403':
          description: forbidden
        '404':
          description: not found
        '200':
          description: ok
      tags:
      - data
    parameters:
    - name: source_file_id
      in: path
      required: true
      type: string
  /data/files/{source_file_id}/download:
    get:
      operationId: data_files_download_list
      description: Download source file
      parameters:
      - name: source_file_id
        in: path
        description: Id of source file
        required: true
        type: string
      responses:
        '401':
          description: unauthorized
        '403':
          description: forbidden
        '404':
          description: not found
        '200':
          description: Source file stream
      tags:
      - data
    parameters:
    - name: source_file_id
      in: path
      required: true
      type: string
  /data/pdfdata:
    get:
      operationId: data_pdfdata_list
      description: test view
      parameters:
      - name: order_id
        in: query
        description: Id of order
        required: true
        type: string
      - name: result_id
        in: query
        description: Id of sample result
        required: true
        type: string
      responses:
        '400':
          description: '{"detail": "Bad request"}'
        '401':
          description: '{"detail": "Unauthorized request"}'
        '403':
          description: '{"detail": "Forbidden"}'
        '404':
          description: '{"detail": "Not found data"}'
        '200':
          description: '{"detail": "Data for PDF report"}'
      tags:
      - data
    parameters: []
  /data/prsdata:
    get:
      operationId: data_prsdata_list
      description: test view
      parameters:
      - name: order_id
        in: query
        description: Id of order
        required: true
        type: string
      - name: result_id
        in: query
        description: Id of sample result
        required: true
        type: string
      - name: report_type
        in: query
        description: report type
        required: false
        type: string
      responses:
        '400':
          description: '{"detail": "Bad request"}'
        '401':
          description: '{"detail": "Unauthorized request"}'
        '403':
          description: '{"detail": "Forbidden"}'
        '404':
          description: '{"detail": "Not found data"}'
        '200':
          description: '{"detail": "Data for PDF report"}'
      tags:
      - data
    parameters: []
  /data/results/pdf_report/{pdf_request_id}/change_notice:
    post:
      operationId: data_results_pdf_report_change_notice_create
      description: ''
      parameters: []
      responses:
        '201':
          description: ''
      tags:
      - data
    parameters:
    - name: pdf_request_id
      in: path
      required: true
      type: string
  /data/results/upload:
    post:
      operationId: data_results_upload_create
      description: Upload result file
      parameters:
      - name: file
        in: formData
        description: Result file
        required: true
        type: file
      - name: model_api_name
        in: formData
        description: Model API name
        required: true
        type: string
        enum:
        - skywalker
        - hutt
        - palpatine
        - vader
        - mysterio
      responses:
        '401':
          description: unauthorized
        '403':
          description: forbidden
        '201':
          description: ok
      consumes:
      - multipart/form-data
      - application/x-www-form-urlencoded
      tags:
      - data
    parameters: []
  /data/results/{exec_order_id}/download:
    get:
      operationId: data_results_download_list
      description: Download result file
      parameters:
      - name: exec_order_id
        in: path
        description: Id of order
        required: true
        type: string
      - name: result_type
        in: query
        description: Type of result file
        required: true
        type: string
        enum:
        - SUMMARY_SUPERSET
        - SUMMARY_CHROMS
        - DETAILED_SUPERSET
        - DETAILED_CHROMS
        - PDF_REPORT
        - PRS_JSON_DATA
        - PRS_IMAGES
        - EXEC_ERRORS
      - name: pdf_request_id
        in: query
        description: PDF request id
        required: false
        type: string
      responses:
        '401':
          description: unauthorized
        '403':
          description: forbidden
        '404':
          description: not found
        '200':
          description: Result file stream
      tags:
      - data
    parameters:
    - name: exec_order_id
      in: path
      required: true
      type: string
  /data/results/{exec_order_id}/json:
    get:
      operationId: data_results_json_list
      description: Get result as json
      parameters:
      - name: exec_order_id
        in: path
        description: Id of order
        required: true
        type: string
      - name: result_type
        in: query
        description: Type of result file
        required: true
        type: string
        enum:
        - SUMMARY_CHROMS
        - SUMMARY_SUPERSET
        - DETAILED_CHROMS
        - DETAILED_SUPERSET
      responses:
        '401':
          description: unauthorized
        '403':
          description: forbidden
        '404':
          description: not found
        '200':
          description: Result file stream
      tags:
      - data
    parameters:
    - name: exec_order_id
      in: path
      required: true
      type: string
  /data/results/{exec_order_id}/pdf_report:
    get:
      operationId: data_results_pdf_report_list
      description: Get pdf reports with pagination
      parameters:
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        type: integer
      - name: page_size
        in: query
        description: Number of results to return per page.
        required: false
        type: integer
      - name: exec_order_id
        in: path
        description: Search by id or order
        type: string
        required: true
      - name: request_version
        in: query
        description: Search report request version
        required: false
        type: integer
      - name: report_version
        in: query
        description: Search by report version
        required: false
        type: string
      - name: sample_id
        in: query
        description: Search by sample id
        required: false
        type: string
      - name: latest
        in: query
        description: Search by latest report request version
        required: false
        type: boolean
      - name: report_type
        in: query
        description: Report type
        required: true
        type: string
        enum:
        - PRS_RUO_CARDIO
        - PRS_RUO_CANCER
        - PRS_CLINICAL_CARDIO
        - PRS_CLINICAL_CANCER
        - ANCESTRY
      responses:
        '401':
          description: unauthorized
        '403':
          description: forbidden
        '422':
          description: unprocessable
        '200':
          description: Paginated entity list
          schema:
            required:
            - count
            - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  required:
                  - id
                  type: object
                  properties:
                    id:
                      title: Id
                      type: string
                      format: uuid
                    status:
                      title: Status
                      type: string
                      enum:
                      - PENDING
                      - COMPLETED
                      - FAILED
                      - QC_FAILED
                    sample_id:
                      title: Sample id
                      type: string
                      maxLength: 300
                      x-nullable: true
                    order_id:
                      title: Order id
                      type: string
                      readOnly: true
                    result_id:
                      title: Result id
                      type: string
                      readOnly: true
                    org_name:
                      title: Org name
                      type: string
                      readOnly: true
                    report_type:
                      title: Report type
                      type: string
                      enum:
                      - ANCESTRY
                      - PRS_RUO_CARDIO
                      - PRS_RUO_CANCER
                      - PRS_CLINICAL
                      - PRS_CLINICAL_CARDIO
                      - PRS_CLINICAL_CANCER
                    request_type:
                      title: Request type
                      type: string
                      enum:
                      - ORDER
                      - SAMPLE
                    request_version:
                      title: Request version
                      type: integer
                      maximum: 32767
                      minimum: -32768
                    report_version:
                      title: Report version
                      type: string
                      maxLength: 300
                      x-nullable: true
                    pdf_file_name:
                      title: Pdf file name
                      type: string
                      maxLength: 260
                      x-nullable: true
                    file_size_bytes:
                      title: File size bytes
                      type: integer
                      maximum: 9223372036854775807
                      minimum: -9223372036854775808
                      x-nullable: true
                    check_sum:
                      title: Check sum
                      type: string
                      maxLength: 128
                      minLength: 1
                      x-nullable: true
                    started_at:
                      title: Started at
                      type: string
                      readOnly: true
                    completed_at:
                      title: Completed at
                      type: string
                      format: date-time
                      x-nullable: true
                    is_signed_by_deprecated_director:
                      title: Is signed by deprecated director
                      type: boolean
                    notice:
                      title: Notice
                      type: string
                      readOnly: true
      tags:
      - data
    parameters:
    - name: exec_order_id
      in: path
      required: true
      type: string
  /data/results/{exec_order_id}/request_pdf:
    post:
      operationId: data_results_request_pdf_create
      description: Request regenerate PDF report for order if reports are failed.
      parameters: []
      responses:
        '400':
          description: bad request
        '401':
          description: unauthorized
        '403':
          description: forbidden
        '422':
          description: unprocessable
        '200':
          description: Request PDF report for order_id
      tags:
      - data
    parameters:
    - name: exec_order_id
      in: path
      required: true
      type: string
  /exec/cancel:
    post:
      operationId: exec_cancel_create
      description: Cancel model execution which is in queue
      parameters:
      - name: data
        in: body
        required: true
        schema:
          type: object
          properties:
            order_id:
              description: Execution order ID
              type: string
          in: body
      responses:
        '400':
          description: '{"detail": "Bad request"}'
        '401':
          description: '{"detail": "Unauthorized request"}'
        '403':
          description: '{"detail": "Forbidden"}'
        '200':
          description: '{"detail": "Request to cancel execution id UUID accepted"}'
      tags:
      - exec
    parameters: []
  /exec/model:
    get:
      operationId: exec_model_list
      description: Get Execution models list
      parameters:
      - name: model_id
        in: query
        description: Model ID for search
        required: false
        type: string
      - name: image_tag
        in: query
        description: Search by image tag
        required: false
        type: string
      - name: model_api_names
        in: query
        description: Search by model api name
        required: false
        type: array
        items:
          type: string
          enum:
          - skywalker
          - hutt
          - palpatine
          - vader
          - mysterio
      - name: named_models
        in: query
        description: Search by named models
        required: false
        type: array
        items:
          type: string
      - name: is_sandbox
        in: query
        description: Search for sandbox models
        required: false
        type: boolean
      - name: push_date
        in: query
        description: Search by push date
        required: false
        type: string
        format: date
        example: '2025-01-25'
      - name: clinical_validated
        in: query
        description: Search for clinical validated models
        required: false
        type: boolean
      responses:
        '401':
          description: unauthorized
        '403':
          description: forbidden
        '200':
          description: Execution models list
          schema:
            type: array
            items:
              required:
              - model_api_name
              type: object
              properties:
                id:
                  title: Id
                  type: string
                  format: uuid
                  readOnly: true
                image_tag:
                  title: Image tag
                  type: string
                  readOnly: true
                full_image_tag:
                  title: Full image tag
                  type: string
                  readOnly: true
                model_api_name:
                  title: Model api name
                  type: string
                  enum:
                  - skywalker
                  - hutt
                  - palpatine
                  - vader
                  - mysterio
                  - check_source
                image_pushed_at:
                  title: Image pushed at
                  type: string
                  format: date-time
                  x-nullable: true
                image_digest:
                  title: Image digest
                  type: string
                  maxLength: 300
                  x-nullable: true
                created_at:
                  title: Created at
                  type: string
                  format: date-time
                  readOnly: true
[...]
